# 全局环境变量 请勿随意改动
ENV = 'development'

# base api
VITE_BASE_API = ''
VITE_PUBLIC_PATH = '/ui/'

# External auth
VITE_LOGIN_PATH = '/core/auth/login/'
VITE_LOGOUT_PATH = '/core/auth/logout/'


# Dev server for core proxy
VITE_CORE_HOST = 'http://localhost:8080'
VITE_CORE_WS = 'ws://localhost:8080'
VITE_KOKO_HOST = 'http://localhost:5000'
VITE_KOKO_WS = 'ws://localhost:5000'
VITE_APP_ENV = 'development'
