.el-data-table :deep(.el-table td) {
  //padding: 4px 0;
}

.el-data-table :deep(.el-table th) {
  //padding: 4px 0;
}

.el-data-table :deep(.el-form-item) {
  margin-bottom: 10px !important;
  margin-top: 10px;
}

.el-data-table :deep(.el-pagination) {
  text-align: right;
  padding: var(--space-3) var(--space-4);

  .el-pagination__total {
    float: left;
  }

  .el-select,
  .el-select__wrapper,
  .el-pagination__sizes,
  .btn-prev,
  .btn-next,
  .el-pager li {
    height: 32px;
    line-height: 32px;
  }
}
