// ElementUI
$--color-primary: #bd1a2d;
$--color-success: #E98737;
$--color-info: #f06f06;
$--color-warning: #b17b4e;
$--color-danger: #122b58;

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuBg: #b4312b;
$menuActiveLeft: #fff1d9;
$menuText: #fff1d9;
$menuActiveText: white;
$subMenuActiveText: white;