// ElementUI
$--color-primary: #1ab394;
$--color-success: #1c84c6;
$--color-info: #23c6c8;
$--color-warning: #f8ac59;
$--color-danger: #ed5565;

// Menu
$menuText: #a7b1c2;
$menuActiveLeft: $--color-primary;
$menuActiveText: white;
$menuBg: #2f4050;
