$--color-primary: #0576b9;
$--color-success: #2cb57e;
$--color-info: #47bce8;
$--color-warning: #f5bd58;
$--color-danger: #f56e50;

// Menu
$menuText: #8fa6bf;
$menuActiveLeft: $--color-primary;
$menuActiveText: white;
$menuBg: #121e2d;
