// ElementUI
$--color-primary: #0576b9;
$--color-success: #2cb57e;
$--color-info: #47bce8;
$--color-warning: #f5bd58;
$--color-danger: #f56e50;

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuText: #8fa6bf;
$menuActiveLeft: $--color-primary;
$menuActiveText: white;
$subMenuActiveText: white;
$menuBg: #121e2d;
