// ElementUI
$--color-primary: #1ab394;
$--color-success: #1c84c6;
$--color-info: #23c6c8;
$--color-warning: #f8ac59;
$--color-danger: #ed5565;

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuText: var(--menu-text);
$menuActiveLeft: var(--menu-active-left);
$menuActiveText: white;
$subMenuActiveText: #f4f4f5;
$menuBg: var(--menu-bg);