// ElementUI
$--color-primary: #a73c32;
$--color-success: #1c84c6;
$--color-info: #23c6c8;
$--color-warning: #f8ac59;
$--color-danger: #ed5565;

// Menu
//$menuText: rgb(241, 212, 174);
$menuBg: #b4312b;
$menuActiveLeft: rgb(241, 212, 174);
$menuText: #fff1d9;
$menuActiveText: white;
$subMenuActiveText: #f4f4f5;
