// ElementUI
$--color-primary: #b4312b;
$--color-success: #E98737;
$--color-info: #f06f06;
$--color-warning: #f8ac59;
$--color-danger: #ed5565;

// Menu
//$menuText: rgb(241, 212, 174);
$menuBg: #b4312b;
$menuActiveLeft: rgb(241, 212, 174);
$menuText: #fff1d9;
$menuActiveText: white;
$subMenuActiveText: #f4f4f5;
