// ElementUI
$--color-primary: #d7000f;
$--color-success: #E98737;
$--color-info: #f06f06;
$--color-warning: #f82ed3;
$--color-danger: #074bdc;

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuBg: #b4312b;
$menuActiveLeft: #f0c2a2;
$menuText: #f0c2a2;
$menuActiveText: white;
$subMenuActiveText: white;
