// ElementUI
$--color-primary: #ca2e1f;
$--color-success: #E98737;
$--color-info: #f06f06;
$--color-warning: #f82ed3;
$--color-danger: #074bdc;

// Men
//$menuText: rgb(241, 212, 174);
$menuBg: #b4312b;
$menuActiveLeft: rgb(241, 212, 174);
$menuText: #fff1d9;
$menuActiveText: white;
$subMenuActiveText: #f4f4f5;
