// ElementUI
$--color-primary: #174779;
$--color-success: #28a745;
$--color-info: #17a2b8;
$--color-warning: #ffc107;
$--color-danger: #dc3545;

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuText: #e9ecef;
$menuActiveLeft: white;
$menuActiveText: white;
$subMenuActiveText: white;
$menuBg: #174779;
