$--color-primary: #174779;
$--color-success: #28a745;
$--color-info: #17a2b8;
$--color-warning: #ffc107;
$--color-danger: #dc3545;

$menuText: #e9ecef;
$menuActiveLeft: white;
$menuActiveText: white;
$menuBg: #174779;
