:root {
  --color-primary: #2b937c;
  --color-success: #2793d7;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --menu-bg: #ffffff;
  --menu-text: #646A73;
  --menu-hover: #f4faf9;
  --submenu-bg: #ffffff;
  --submenu-hover: #f4faf9;
  --submenu-active-text: #2b937c;
  --menu-active-text: #1F2329;
  --menu-active-left: #2b937c;
}

:export {
  --color-primary: #2b937c;
  --color-success: #2793d7;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --menu-bg: #ffffff;
  --menu-text: #646A73;
  --menu-hover: #f4faf9;
  --submenu-bg: #ffffff;
  --submenu-hover: #f4faf9;
  --submenu-active-text: #2b937c;
  --menu-active-text: #1F2329;
  --menu-active-left: #2b937c;
}
