:export {
  --color-primary: #409EFF;
  --color-success: #2793d7;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --color-link: #409EFF;
  --color-text-primary: #292827;
  --color-text-secondary: #7c7c7c;
  --color-icon-primary: #605e5c;
  --color-border: #e9ecef;
  --color-input-border: #BBBFC4;
  --color-disabled-background: #F5F7FA;
  --color-disabled: #bbb;
  --color-help-text: #8F959E;
  --banner-bg: #1e2733;
  --submenu-bg: #1e2733;
  --menu-bg: #1e2733;
  --menu-text: #cdd5e3;
  --menu-text-active: #36a8ff;
  --menu-hover: #1f3047;
}
