:export {
  --color-primary: #1ab394;
  --color-success: #2793d7;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --color-link: #1c84c6;
  --color-text-primary: #292827;
  --color-text-secondary: #7c7c7c;
  --color-icon-primary: #605e5c;
  --color-border: #e9ecef;
  --color-input-border: #bbbfc4;
  --color-disabled-background: #f5f7fa;
  --color-disabled: #bbb;
  --color-help-text: #8f959e;
  --banner-bg: #148f76;
  --submenu-bg: #ffffff;
  --menu-bg: #ffffff;
  --menu-text: #646A73;
  --menu-text-active: #1ab394;
  --menu-hover: #ffffff;
  --app-main-bg: #f3f3f4;
  --table-header-bg: #ffffff;
}
