:root {
  --color-primary: #1ab394;
  --color-success: #2793d7;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --banner-bg: #148f76;
  --submenu-bg: #ffffff;
  --menu-bg: #ffffff;
  --menu-text: #646A73;
  --menu-text-active: #1ab394;
  --menu-hover: #ffffff;
}

:export {
  --color-primary: #1ab394;
  --color-info: #1c84c6;
  --color-success: #2793d7;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --banner-bg: #148f76;
  --submenu-bg: #ffffff;
  --menu-bg: #ffffff;
  --menu-text: #646A73;
  --menu-text-active: #1ab394;
  --menu-hover: #ffffff;
}
