:export {
  --color-primary: #1C6EFF;
  --color-success: #67c23a;
  --color-info: #1c84c6;
  --color-warning: #f8ac59;
  --color-danger: #ed5565;
  --color-link: #409eff;
  --color-text-primary: #292827;
  --color-text-secondary: #7c7c7c;
  --color-icon-primary: #605e5c;
  --color-border: #e9ecef;
  --color-input-border: #bbbfc4;
  --color-disabled-background: #f5f7fa;
  --color-disabled: #bbb;
  --color-help-text: #8f959e;
  --banner-bg: #1e2733;
  --submenu-bg: #1e2733;
  --menu-bg: #1e2733;
  --menu-text: #cdd5e3;
  --menu-text-active: #36a8ff;
  --menu-hover: #1f3047;
  --nav-header-bg: #303a48;
  --nav-header-hover: #3a4656;
}
