// ElementUI
$--color-primary: #1ab394;
$--color-success: #1c84c6;
$--color-info: #23c6c8;
$--color-warning: #f8ac59;
$--color-danger: #ed5565;
$--font-size-base: 13px;
$--size-base: 13px;

$--color-link: #1c84c6;
$--color-link-highlight: #23527c;

$--color-text-primary: #303133;
$--color-text-regular: #606266;

// Menu
$menuText: #a7b1c2;
$menuActiveText: white;
$menuTextWeight: 600;
$subMenuActiveText: #f4f4f5;
$menuBg: #2f4050;
$menuHover: #293846;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 220px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
