@import "./variables";

$icon-width: 14px;
$single-menu-height: 38px;
@mixin hover_active {
  background-color: var(--menu-hover);
  color: var(--color-primary);
}

@mixin only_active {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--menu-text-active);
  }
}

.el-menu {
  border-right: none !important;
}

.left-menu.el-menu {
  .submenu-item {
    &.el-submenu-sidebar {
      margin-top: 8px;
      &.is-opened {
        .el-icon-arrow-down {
          display: none;
        }
      }
      // 有子菜单项的 title
      .el-submenu__title {
        height: 30px;
        font-size: 11px;
        cursor: default;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: .07em;
        color: rgba(0, 0, 0, 0.6) !important;

        .svg-icon {
          display: none;
        }

        &:hover {
          background-color: #ffffff;

          .el-icon-arrow-down {
            display: inline;
          }
        }
      }

      // 子菜单项
      .el-menu--inline {
        background-color: $subMenuBg;

        .nest-menu {
          display: flex;

          .el-menu-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 36px;
            padding: 19px 20px !important;
            line-height: 36px;
            min-width: 200px;
            font-size: 13px;
            letter-spacing: .03em;

            &:hover,
            &.is-active, {
              @include hover_active;
            }

            &.is-active {
              @include only_active;
            }

            .svg-icon {
              font-weight: 500;
              overflow: hidden;
              width: $icon-width;
              height: $icon-width;
            }

            span {
              padding-left: 10px;
            }
          }
        }
      }
    }

    // 当前菜单样式
    &.is-active .el-submenu__title {
      color: $menuActiveText;
    }

    // 没有子菜单的项
    &.submenu-title-noDropdown {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: $single-menu-height;
      line-height: $single-menu-height;
      min-width: 200px;
      font-size: 13px;

      &:hover,
      &.is-active {
       @include hover_active
      }

      &.is-active {
        @include only_active;
      }

      .svg-icon {
        //display: none;
        width: $icon-width;
        height: $icon-width;
      }

      span {
        padding-left: 10px;
      }
    }
  }

  // 折叠状态下
  &.el-menu--collapse {
    width: 100% !important;

    .submenu-title-noDropdown,
    .submenu-title-noDropdown .el-tooltip {
      display: flex !important;
      align-items: center !important;
      min-width: 55px !important;

      .svg-icon {
        display: block
      }
    }

    .submenu-item {
      width: 55px;

      &.is-active {
        cursor: pointer;
        @include hover_active
      }

      .el-submenu__title {
        display: flex;
        align-items: center;
        height: $single-menu-height;

        &:hover,
        &.is-active {
          cursor: pointer;
          @include hover_active
        }

        .svg-icon {
          //display: block;
        }
      }
    }
  }

  i.fa {
    margin-right: 10px;
    width: 13px;
  }

  .is-active i.fa {
    color: $menuActiveText;
  }
}

.el-menu--vertical .el-menu-item {
  display: flex;
  align-items: center;
  height: 36px;

  .svg-icon {
    margin-right: 15px;
  }
}
