@import "./variables";

.left-menu.el-menu {
  .el-menu--inline {
    background-color: $subMenuBg;
  }

  .el-menu-item, .el-submenu {
    font-weight: 600;
  }

  .el-submenu, .el-menu-item.submenu-title-noDropdown {
    background-color: $menuBg;
    border-top: solid 1px $menuBg;

    .el-submenu__title {
      color: $menuText;
      font-weight: 400;

      &:hover {
        color: $menuActiveText;
        background-color: $menuHover;
      }

      i {
        color: $menuActiveText;
      }
    }
  }

  .el-menu-item, .el-submenu-sidebar .el-menu-item {
    background-color: $subMenuBg;
    color: $menuText;
    list-style: circle inside;

    span {
      //padding-left: 10px;
    }

    &.submenu-title-noDropdown {
      list-style: none;

      span {
        padding-left: 0;
      }
    }

    &.is-active {
      color: $subMenuActiveText;
      font-weight: 400;
      list-style-type: disc;
    }

    &:hover {
      background-color: $subMenuHover !important;
      color: $subMenuActiveText;
      list-style-type: disc;
    }

    i {
      //color: $menuText;
    }
  }

  i.fa {
    margin-right: 10px;
    width: 13px;
  }

  .is-active i.fa {
    color: $menuActiveText;
  }

  .el-menu-item, .el-submenu__title {
    height: 45px;
    line-height: 45px;
    font-weight: 400;
    font-size: 13px;
  }

  .el-submenu .el-menu-item {
    height: 35px;
    line-height: 35px;
    padding: 0 52px;
    min-width: 200px;
    font-size: 12px;
  }

  .nest-menu .el-submenu__title {
    height: 30px;
    line-height: 30px;
    padding: 0 52px;
    min-width: 200px;
  }

  .nest-menu li.is-opened, .nest-menu li.is-active {
    border-left: none;
  }

  .el-menu-item * {
    vertical-align: inherit ;
  }

  .el-menu-item:hover, .el-menu-item:focus {
    color: $subMenuActiveText;
  }

  .navbar li.is-active, .navbar li.is-opened {
    border: none;
  }

  .submenu-item.el-submenu.is-opened {
    border-top: solid 1px #efefef;
  }

  .nest-menu li.is-active {
    border: none;
  }

  .el-submenu-sidebar.submenu-item.el-submenu.is-active {
    .el-submenu__title,.nest-menu, .el-menu-item {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--menu-text-active);
      }
    }
  }

  .submenu-item.is-active.submenu-title-noDropdown {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      background-color: var(--menu-text-active);
    }
  }

  .el-submenu-sidebar .el-menu-item {
    background-color: $subMenuBg;
  }

  .el-submenu.is-opened {
    background-color: $subMenuBg;

    & .nest-menu {
      background-color: $subMenuBg;
    }
  }

  .nest-menu:last-child {
    padding-bottom: 10px;
  }
}
