@use './variables' as *;

#app {
  .main-container {
    display: flex;
    min-height: 0;
    height: 100%;
  }

  .sidebar-container {
    flex: 0 0 $sideBarWidth;
    transition:
      width var(--duration-fast) var(--ease-standard),
      flex-basis var(--duration-fast) var(--ease-standard),
      transform var(--duration-fast) var(--ease-standard);
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: relative;
    font-size: 0;
    top: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: none;
    border-right: 1px solid var(--N200);

    // reset element-ui css
    .horizontal-collapse-transition {
      transition:
        0s width ease-in-out,
        0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
      overflow-y: auto;
    }

    &.has-logo {
      .el-scrollbar {
        margin-top: 5px;
        height: calc(
          100% - #{$headerHeight} - 50px - 42px - 5px
        ); // header-height, view-header, footer-height + bolder, margin-top
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      //display: inline-block;
      width: 100%;
      overflow: hidden;
    }
  }

  .hideSidebar {
    .sidebar-container {
      flex-basis: 54px;
      width: 54px !important;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;
    }

    .left-menu {
      .item-title {
        display: none !important;
      }
    }

    .el-submenu-sidebar {
      overflow: hidden;

      & > .el-sub-menu__title {
        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu-sidebar {
        & > .el-sub-menu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  // mobile responsive
  .mobile {
    .main-container {
      position: relative;
    }

    .sidebar-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      flex: none;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: var(--duration-fast);
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
