// @import "src/styles/themes/chinese_red";
@import "./themes/default";

$--color-black: #000000;
$--font-size-base: 13px;
$--size-base: 13px;
$--color-link: $--color-text-primary;
$--color-link-highlight: #23527c;

$menuTextWeight: 600;
$menuHover: var(--menu-hover);
$subMenuBg: var(--submenu-bg);
$subMenuHover: var(--submenu-hover);
$sideBarWidth: 220px;

:export {
    color-primary: $--color-primary;
    color-success: $--color-success;
    color-info: $--color-info;
    color-warning: $--color-warning;
    color-danger: $--color-danger;
    color-black: $--color-black;
}
