// Color
$--color-primary: var(--color-primary);
$--color-success: var(--color-success);
$--color-info: var(--color-info);
$--color-warning: var(--color-warning);
$--color-danger: var(--color-danger);

// Text
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-black: #000000;
$--font-size-base: 13px;
$--size-base: 13px;
$--color-link: $--color-text-primary;
$--color-link-highlight: #23527c;

// Menu
$menuText: var(--menu-text);
$menuActiveText: var(--menu-text-active);
$menuBg: var(--menu-bg);
$menuTextWeight: 600;
$menuHover: var(--menu-hover);
$subMenuBg: var(--submenu-bg);
$subMenuHover: var(--menu-hover);
$subMenuActiveText: var(--menu-text-active);
$sideBarWidth: 200px;

:export {
    color-primary: $--color-primary;
    color-success: $--color-success;
    color-info: $--color-info;
    color-warning: $--color-warning;
    color-danger: $--color-danger;
    color-black: $--color-black;
}
